*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --white: #ffffff;
    --primary: #1ABC9C;
    --secondary: #2c3e50;
    --form-color: #4950576b;
    --submit-color: #1abc9c;
    --a-background-hover-icon: #f8f9fa;
    --a-color-hover-icon: #212529;
    --a-link-hover: #117964;
    --copyright-color: #1A252F;
    --margin-bottom: 3rem;
    --padding-right: 1.5rem;
    --padding-left: 1.5rem;
    --padding: 1.5rem;
    --padding-top: 6rem;
    --padding-bottom: 6rem;
    --padding-top-bottom: 6rem 0;
    --footer-padding: 5rem 0;
    --max-width: 1140px;
    --font-size: 1.70rem;
    --margin-left-right: 1rem;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: var(--white);
}

.custom-transition {
    transition: all 0.3s ease-in-out;
}

label,
textarea,
button[type="submit"] {
    text-transform: capitalize;
    display: block;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    padding-left: var(--padding-right);
    padding-right: var(--padding-right);
    margin-right: auto;
    margin-left: auto;
}

.padding-top-bottom {
    padding: var(--padding-top-bottom);
}

.center-items {
    text-align: center;
    color: var(--white);
}

.margin-right-line {
    margin-right: var(--margin-left-right);
}

.margin-left-line {
    margin-left: var(--margin-left-right);
}

.margin-bottom {
    margin-bottom: var(--margin-bottom);
}

.margin-left {
    margin-left: auto;
}

.margin-right {
    margin-right: auto;
}

.custom-flex-max {
    /* flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; */
    flex: 0 0 45%;
    max-width: 45%;
}

.button-custom {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    text-transform: capitalize;
    color: var(--a-background-hover-icon);
    background-color: transparent;
    border: 0.125rem solid var(--a-background-hover-icon);
    border-radius: 0.5rem;
}

.button-custom:hover {
    color: var(--a-color-hover-icon);
    background-color: var(--a-background-hover-icon);
    cursor: pointer;
}


/*
*
* navbar 
*
*/

.navbar {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    font-weight: 700;
    background-color: var(--secondary);
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar .container {
    display: block;
    align-items: center;
    justify-content: center;
}

.navbar-button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: .5rem;
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
}

.navbar .container .logo {
    font-weight: 700;
    color: var(--white);
    font-size: var(--font-size);
}

.navbar .navbar-list-container {
    display: block;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.navbar .navbar-list-container ul {
    display: none;
    list-style: none;
}

.navbar .navbar-list-container ul.active {
    margin-top: .7rem;
    width: 100%;
    display: block;
}

.navbar .navbar-list-container ul li {
    margin: 1rem 8px 1rem 0;
}

.navbar .navbar-list-container ul li a {
    padding: 1rem;
    display: block;
    text-align: center;
}

.navbar .navbar-list-container ul li a:hover {
    color: var(--primary);
}


/*
*
* header
*
*/

.header {
    background-color: var(--primary);
    padding-top: calc(6rem + 112px);
}

.header .container img {
    width: 15rem;
    margin-bottom: var(--margin-bottom);
}

.header .container .title {
    font-size: 4rem;
    line-height: 3.5rem;
    text-transform: uppercase;
}

.break-line {
    margin: 1.25rem 0 1.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: var(--white);
}

.header .container .head-text {
    font-size: var(--padding);
    font-weight: 300;
    font-family: "Lato", sans-serif;
}


/*
*
* portfolio
*
*/

.portfolio {
    color: var(--secondary);
    text-align: center;
}

.portfolio .portfolio-h2 {
    font-size: var(--margin-bottom);
    text-transform: uppercase;
}

.portfolio .break-line .divider-line {
    background-color: var(--secondary);
}

.portfolio .card-holder {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    position: relative;
}

.portfolio .card-holder .card-item {
    position: relative;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.portfolio .card-holder .card-item .image-holder {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card-item .image-holder .show-me {
    position: absolute;
    width: 100%;
    align-items: center;
    display: flex;
    height: 100%;
    top: 48%;
    left: -50%;
    color: var(--a-background-hover-icon);
    background-color: var(--primary);
    font-size: var(--padding-top);
    margin: auto 0;
    transform: translate(-50%, -50%);
    justify-content: center;
    transition: left .5s ease-in-out;
}

.portfolio .card-holder .card-item .image-holder img {
    max-width: 100%;
    height: auto;
}

.portfolio .card-holder .card-item .image-holder:hover .show-me {
    left: 50%;
}


/*
*
* about
*
*/

.about {
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
}

.about .about-h2 {
    font-size: var(--margin-bottom);
    text-transform: uppercase;
}

.button-holder {
    margin-top: 1.5rem;
    text-align: center;
}

.about .container .text-holder {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    position: relative;
    text-align: left;
    margin-bottom: 15px;
}

.about .container .text-holder>div p {
    position: relative;
    margin-left: var(--padding-left);
    margin-right: var(--padding-right);
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.25rem;
    text-align: justify;
    word-break: break-all;
}


/*
*
* contact
*
*/

.contact {
    color: var(--secondary);
    text-align: center;
}

.contact .contact-h2 {
    font-size: var(--margin-bottom);
    text-transform: uppercase;
}

.contact .break-line .divider-line {
    background-color: var(--secondary);
}

.contact-holder {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    position: relative;
}

.contact-holder .form {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 70%;
}

.contact-holder .form>div {
    margin-left: var(--padding-left);
    margin-right: var(--padding-right);
    margin-bottom: var(--margin-left-right);
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type=number],
textarea,
button[type="submit"] {
    padding: 1.75rem;
    font-size: 1.25rem;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--a-background-hover-icon);
    box-shadow: 0.01rem 0.01rem 0.05rem rgba(0, 0, 0, 0.270);
    /* 0.025rem */
    color: --var(--form-color);
    resize: none;
}

#my-button {
    width: initial;
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    color: #fff;
    border: none;
    border-radius: .5rem;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

#my-button:hover {
    cursor: pointer;
    background-color: var( --a-link-hover);
}


/*
*
* footer
*
*/

.footer {
    background-color: var(--secondary);
}

.footer-padding {
    padding: var(--footer-padding);
}

.footer .container .footer-item-holder {
    display: block;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    position: relative;
}

.footer .footer-item-holder .footer-item {
    position: relative;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    flex: 0 0 33.3333333333%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-item>h4 {
    text-align: center;
    font-size: 1.24rem;
    text-transform: uppercase;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    color: white;
}

.footer-item>p {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    text-align: center;
    margin-top: 1.25rem;
}

.footer-p .about-freelance {
    color: var( --a-link-hover);
    text-transform: capitalize;
}

.footer-p .about-freelance:hover {
    color: var(--primary);
}

.footer .footer-item-holder .social-holder {
    text-align: center;
    margin-top: 1.25rem;
}

.footer .footer-item-holder .social {
    border-radius: 50%;
    border: 1.5px solid var(--a-background-hover-icon);
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    margin: 3px;
}

.footer .footer-item-holder .social:hover {
    background-color: var(--a-background-hover-icon);
    color: var(--a-color-hover-icon);
}


/*
*
* copyright
*
*/

.copyright {
    background-color: var(--copyright-color);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    text-align: center;
}

.copyright p {
    font-size: 80%;
    color: var(--white);
    font-weight: 500;
    padding: 5px;
}


/*
*
*   ============================  media query   ============================
* 
*/


/*
*
*   Extra small devices (phones, 600px and down)
* 
*/

@media only screen and (max-width: 600px) {
    .navbar .container {
        display: block;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .container .logo {
        font-size: 1.1rem;
    }
    .navbar-button {
        padding: 1rem 1.0rem;
        top: 8px;
    }
    .portfolio .card-holder .card-item {
        max-width: 100%;
        flex: 0 0 80%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
    .margin-bottom-flex {
        margin-bottom: var(--margin-bottom);
    }
    .header .container .title {
        font-size: 2.8rem;
    }
    .portfolio .portfolio-h2,
    .about .about-h2,
    .contact .contact-h2 {
        font-size: 2.25rem;
    }
    .contact-holder .form {
        max-width: 100%;
    }
}


/*
*
*   Small devices (portrait tablets and large phones, 600px and up)
* 
*/

@media only screen and (min-width: 600px) {
    .navbar .container .logo {
        font-size: var(--font-size);
    }
    .navbar-button {
        top: 15px;
    }
    .container {
        width: 90%;
    }
    .portfolio .card-holder .card-item {
        max-width: 50%;
        flex: 0 0 60%;
    }
    .margin-bottom-flex {
        margin-bottom: var(--margin-bottom);
    }
    .remove-margin {
        margin-bottom: unset;
    }
    .contact-holder .form {
        max-width: 100%;
    }
    .remove-margin {
        margin-bottom: unset;
    }
}


/*
*
*   Medium devices (landscape tablets, 768px and up) The navbar toggle appears at this breakpoint
* 
*/

@media only screen and (min-width: 768px) {
    .portfolio .card-holder .card-item {
        max-width: 100%;
        flex: 0 0 50%;
    }
    .margin-bottom-flex {
        margin-bottom: var(--margin-bottom);
    }
    .remove-margin {
        margin-bottom: unset;
    }
    .contact-holder .form {
        max-width: 95%;
    }
}


/*
*
*    the side navbar till here 
*
*/

@media only screen and (max-width: 850px) {
    .custom-flex-max {
        flex: initial;
        max-width: initial;
    }
}

@media only screen and (min-width: 850px) {
    .container {
        width: 90vw;
    }
    .contact-holder .form {
        max-width: 100%;
    }
    .navbar .container {
        display: flex;
    }
    .navbar .navbar-list-container {
        display: flex;
    }
    .navbar .navbar-list-container ul {
        display: flex;
        width: initial;
    }
    .navbar .navbar-list-container ul.active {
        margin-top: initial;
        width: inherit;
        display: flex;
    }
    .navbar .navbar-list-container ul li {
        margin: 0;
    }
    .navbar .navbar-list-container ul li a {
        display: flex;
        text-align: center;
    }
    .navbar-button {
        display: none;
    }
}


/*
*
*   Large devices (laptops/desktops, 992px and up)
* 
*/

@media only screen and (min-width: 992px) {
    .portfolio .card-holder .card-item {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .remove-margin {
        margin-bottom: unset;
    }
    .contact-holder .form {
        max-width: 75%;
    }
    .footer .footer-item-holder .footer-item {
        max-width: 33.3333333333%;
    }
    .footer .container .footer-item-holder {
        display: flex;
    }
}